header{
  font-family: 'Open Sans', sans-serif, helvetica;
  height: 15%;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 51px;
  border-bottom-right-radius: 51px;
  background-image:
    linear-gradient(90deg, #1EBC92 1%, #41DEBA 58%, #12F4D0 100%); 
  opacity: 0.5;
    
}

header:hover{
  opacity: 1.0;
}

.experience{
  font-family: 'Open sans', sans-serif, helvetica;
  text-align: center;
  height: 40%;
  background-color: #51BD8E;
  border-radius: 3px;
  box-shadow: 0px 0px 0px #E6E6E6;
  background-image:
    linear-gradient(90deg, #E6E6E6 0%, #B2BBBD 53%);
 opacity: 0.5;
    
}

.experience:hover{
opacity: 1.0;
}

.education{
  height: 40%;
  font-family: 'Open sans', sans-serif, helvetica;
  text-align: center;
  border-radius: 3px;
  background-image:
    linear-gradient(90deg, #E6E6E6 0%, #B2BBBD 53%); 
  opacity: 0.5;
    
}

.education:hover{
  opacity: 1.0;
}

.skills{
  height: 40%;
  font-family: 'Open sans', sans-serif, helvetica;
  text-align: center;
  border-radius: 3px;
  background-image: 
    linear-gradient(90deg, #E6E6E6 0%, #B2BBBD 53%);
  opacity: 0.5;
    
}

.skills:hover{
  opacity: 1.0;
}
